$('#new_food').remove();
$('#good_shit').show();
$('#food-calorie-counter').text('<%= @calorie_total %>');
$('#food_table').append('<tr><td><%= @food.name %></td><td><%= @food.calories %></td></tr>');
